<%-include('header')%>


<% records.forEach(function(row) {%>
<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12">
            <img src="/uploads/<%=row.image%>" style="width: 16rem;height: 16rem;" alt="image"  > 
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12">
            <h1><%=row.title%></h1>
            <br>
            <h3>Price: <%=row.price%></h3>

            <form action="/project_card/<%=row.projectid%>" method="post">
                <input type="text" name="title" value="<%=row.title%>" style="display: none;">
                <input type="text" name="username" value="<%=row.username%>" style="display: none;">
                <input type="text" name="projectid" value="<%=row.projectid%>" style="display: none;">
                <input type="number" class="" name="price" value="<%=row.price%>" style="display: none;">
                  <input type="submit" class="btn btn-warning" name="buy" value="Buy" style="width: 5rem;">
                  
              </form>
        </div>
    </div>
</div>
<%})%>

<%if(records.length==0){%>
    <h1>No Item added To cart now</h1>
<%}%>

<<%- include('footer')%>