<%-include('header')%>

<div style="background-image: url(/assets/images/woman-books-reading.jpg);">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>
<%-include('footer')%>