<!<%- include('header')%>

<style>
  .card:hover{
    transform: scale(1.1);
    z-index: 2;
    cursor:pointer;
  }
</style>

<div style="margin: 10px;">
  <div class=" pak"  >


    <div style="text-align: center;">
      <br>
      <br>
    
      <h1 class="b c">Let's Start Studing Your Fav Topic Here </h1>

    <br>
   
    <h1><a href="#explore" class="c" >EXPLORE MORE</a></h1>
      
    </div>
  

</div>
</div>

<div class="container my-4 ">

    <h1 class="text-center" style="font: 30px;"> Your Fav Topic is Here</h1>

    <hr class="my-4">
    <% records.forEach(function(row) {%>
    <div class="row" style="z-index: 4;">
  
 
 
     
<a href="/project_card/<%=row.projectid%>" style="text-decoration: none; color: black;">
    <div class="card text-center" style="width: 16rem;  margin: 1%; padding: 5px;">
      <img class="card-img-top" style="height: 16rem;" src="./uploads/<%= row.image %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%=row.title%></h5>
        
       
      </div>
    </div>

  </a>
        <!--Carousel Wrapper-->
      
        <!--/.Carousel Wrapper-->
   


  </div>
  <%})%>
</div>

  

  <!<%- include('footer')%>